<section class="breadcrumb-area overlay-dark d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-content text-center">
                    <h2 class="m-0">Image Details</h2>
                    <ol class="breadcrumb d-flex justify-content-center">
                        <li class="breadcrumb-item"><a routerLink="">Home</a></li>
                        <li class="breadcrumb-item active">Image Details</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="item-details-area">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-lg-6">
                <div class="item-info">
                    <div class="item-thumb text-center">
                        <img [src]="imageDetails.image_url" alt="">
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="content mt-5 mt-lg-0">
                    <h3 class="m-0 mb-3">Details</h3>
                    <h5 class="m-0">Created Date</h5>
                    <p *ngIf="imageDetails.created_at">{{ formatDate(imageDetails.created_at) }}</p>
                    <p *ngIf="!imageDetails.created_at">Creation date not available</p>
                    <h5 class="m-0">Updated Date</h5>
                    <p *ngIf="imageDetails.updated_at">{{ formatDate(imageDetails.updated_at) }}</p>
                    <p *ngIf="!imageDetails.updated_at">Creation date not available</p>
                    <h5 class="m-0">Image source</h5>
                    <p *ngIf="imageDetails.source"><a [href]="imageDetails.source">{{ imageDetails.source }}</a></p>
                    <p *ngIf="!imageDetails.source">No source available</p>
                    <h5 class="m-0">Verification</h5>
                    <p *ngIf="imageDetails.verification"> {{ imageDetails.verification }}</p>
                    <p *ngIf="!imageDetails.verification">No verification available</p>
                    <h5 class="m-0">Age rating</h5>
                    <p *ngIf="imageDetails.rating">{{ imageDetails.rating }}</p>
                    <p *ngIf="!imageDetails.rating">No rating available</p>
                    <h5 class="m-0 mb-3">Color Dominant</h5>
                    <div class="color-box" [style.background-color]="getColorString(imageDetails.color_dominant)"></div>
                </div>
            </div>
            <div class="col-12 mt-4">
                <div class="card no-hover">
                    <div class="color-palette">
                        <h4 class="palette-title">Tags</h4>
                        <div class="color-box-container mt-3">
                            <div *ngFor="let tag of imageDetails.tags">
                                <p><b class="tagname">{{ tag.name }}:</b> {{tag.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-4">
                <div class="card no-hover">
                    <div class="color-palette">
                        <h4 class="palette-title">Color Palette</h4>
                        <div class="color-box-container">
                            <div *ngFor="let color of imageDetails.color_palette" class="color-box"
                                [style.background-color]="getColorString(color)"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>