<section class="breadcrumb-area overlay-dark d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-content text-center">
                    <h2 class="m-0">Artist Profile</h2>
                    <ol class="breadcrumb d-flex justify-content-center">
                        <li class="breadcrumb-item"><a routerLink="">Home</a></li>
                        <li class="breadcrumb-item active">Artist Profile</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="author-area explore-area popular-collections-area">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-md-4">
                <div class="card no-hover text-center">
                    <div class="image-over">
                        <img class="card-img-top" src="assets/img/bg/artist-bg.jpg" alt="">
                        <div class="author">
                            <div class="author-thumb avatar-lg">
                                <img class="rounded-circle" src="assets/img/user.webp" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="card-caption col-12 p-0">
                        <div class="card-body mt-4">
                            <h5 class="mb-3">{{artistDetails.name}}</h5>
                            <p class="my-3"><b>Aliases:</b> {{ artistDetails.aliases.join(', ') }}</p>
                            <div class="social-icons d-flex justify-content-center my-3">
                                <a class="facebook" href="#" *ngFor="let link of artistDetails.links.slice(0, 4)"
                                    [href]="link" target="_blank" [innerHTML]="getLinkIcon(link)">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8">
                <div class="row justify-content-center mt-5 mt-lg-0">
                    <div class="col-12">
                        <div class="explore-menu btn-group btn-group-toggle flex-wrap justify-content-center mb-4">
                            <label class="d-table text-uppercase p-2">
                                <span>Artist's Images</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row items explore-items" *ngIf="artistImages.items">
                    <div class="col-12 col-md-6 item explore-item" *ngFor="let anime of artistImages.items">
                        <div class="card">
                            <div class="image-over">
                                <a [href]="'image/'+anime.id">
                                    <img class="card-img-top" [src]="anime.image_url" alt="">
                                </a>
                            </div>
                            <div class="card-caption col-12 p-0">
                                <div class="card-body">
                                    <div class="card-bottom d-flex justify-content-between">
                                        <span>{{convertOctetsToKilobytes(anime.image_size)}}</span>
                                        <span>{{anime.image_width}} x {{anime.image_height}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row items explore-items" *ngIf="!artistImages.items || artistImages.items.length === 0">
                    <div class="col-12 col-md-6 item explore-item">
                        <div class="card">
                            <p>No Images Available</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>