<section class="breadcrumb-area overlay-dark d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-content text-center">
                    <h2 class="m-0">About</h2>
                    <ol class="breadcrumb d-flex justify-content-center">
                        <li class="breadcrumb-item"><a routerLink="">Home</a></li>
                        <li class="breadcrumb-item active">About</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="help-center-area">
    <div class="container">
        <div class="row justify-content-center items">
            <div class="col-12 item">
                <div class="card help-card">
                    <a class="d-block text-center">
                        <h4>About Anime Library</h4>
                        <p>Anime Library provides a variety of anime images. Anime Library uses Nekos API.</p>
                    </a>
                </div>
            </div>
            <div class="col-12 item">
                <div class="card help-card">
                    <a class="d-block text-center">
                        <h4>About Developper</h4>
                        <p>Chayma Farhat, a 21-year-old aspiring developer passionate about crafting innovative
                            solutions.<br />You can check my developer portfolio <a
                                href="https://chaymafarhat.netlify.app">here.</a></p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>