<section class="breadcrumb-area overlay-dark d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-content text-center">
                    <h2 class="m-0">About</h2>
                    <ol class="breadcrumb d-flex justify-content-center">
                        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                        <li class="breadcrumb-item active">About</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="help-center-area">
    <div class="container">
        <div class="row justify-content-center items">
            <div class="col-12 item mb-4">
                <div class="card help-card">
                    <div class="d-block text-center">
                        <h4>About Anime Library</h4>
                        <p>
                            Anime Library is your ultimate destination for a diverse collection of anime images. Our
                            platform
                            utilizes the Nekos API to bring you the latest and most captivating visuals from the anime
                            world.
                            Whether you're a fan or just exploring, we have something for everyone!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 item mb-4">
                <div class="card help-card">
                    <div class="d-block text-center">
                        <h4>About the Developer</h4>
                        <p>
                            I'm Chayma Farhat, a passionate 21-year-old developer dedicated to creating innovative and
                            engaging
                            web experiences. I love exploring new technologies and pushing the boundaries of what's
                            possible
                            in web development.
                            <br />
                            You can view my portfolio <a href="https://chaymafarhat.netlify.app" target="_blank"
                                rel="noopener noreferrer">here</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>