.card-img-top {
    width: 100%;
    height: 300px;
}

.top-seller-area {
    padding-top: 55px;
    padding-bottom: 55px;
}

.live-auctions-area {
    padding-bottom: 0px;
    padding-top: 120px;
}

.links-container {
    display: flex;
    align-items: center;
}

.links-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.links-list li {
    margin-right: 10px;
}

.loading-spinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loading-spinner img {
    width: 100px;
    height: 100px;
}