<footer class="footer-area">
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex flex-wrap justify-content-center justify-content-sm-between text-center py-4">
                        <div>
                            <img src="assets/img/logo/logo.png" alt="Logo" class="footer-logo">
                            &copy;2024 Anime Library, All Rights Reserved.
                        </div>
                        <div>
                            Made with <i class="fas fa-heart"></i> By
                            <a href="https://chaymafarhat.netlify.app" target="_blank">Chayma Farhat</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>